---
import '../styles/global.css'
import { Group } from '../models'
import GroupItem from '../components/GroupItem.astro'

interface Source {
  groups: Group[]
}

const { groups }: Source = (await import('../../source.json')).default

const pageTitle = 'Lounge'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link
      rel="icon"
      type="image/png"
      href="/favicon-light.png"
      media="(prefers-color-scheme: dark)"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style>
      body {
        background-color: #0d1821;
        color: #e4e3e8;
      }

      main {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;

        margin: 2rem 5rem;
      }

      code {
        background-color: #263440;

        padding: 20px;

        border-radius: 3px;
        white-space: nowrap;
        overflow: auto;

        max-width: min-content;

        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      #date-time {
        font-size: 17px;
      }

      #date-time-code {
        padding-right: 10px;
      }

      #groups {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, auto);
      }

      @media screen and (max-width: 830px) {
        main {
          margin: 2rem 3rem;
        }

        #groups {
          grid-template-columns: 1fr;
        }

      }
    </style>
  </head>
  <body>
    <main>
      <h1>Welcome!</h1>

      <code>
        <span id="date-time-code">
        $ while true; do echo -n "$(date '+%A, %H:%M:%S | %b %d, %Y')"; sleep 1;
        printf "\r"; done
        </span>
        <h2 id="date-time"></h2>
      </code>

      <ul id="groups">
        {groups.map((item) => <GroupItem group={item} />)}
      </ul>

      <script>
        import '../scripts/time.ts'
      </script>
    </main>
  </body>
</html>
